body {
  background-color: gray;
}
#user-login-input {
    width: 400px;
    height: 50px;
    padding: 4px;
    font-size: 20px;
    margin: auto;
    margin-top: 50vh;
    padding-left: 20px;
  }
  
  #login-block {
    display: grid;
  }
  
  #sub-login {
    width: 428px;
    margin: auto;
  }
  
  #recievingmessages {
    width: 100%;
    height: 700px;
  }
  
  .serverText {
    background-color: black;
    font-size: 15px;
    text-align: center;
    color: white;
    padding: 10px; 
  }
  .yourText {
    background-color: green;
    padding: 5px;
    border: 1px solid black;
    color: black;
    width: 75%;
    border-radius: 10px;
    padding-left: 10px;
    margin-top: 1px;
    right: 0px;
    font-size: 20px;
  }
  .otherText {
    background-color: turquoise;
    padding: 5px;
    width: 75%;
    border: 1px solid black;
    color: black;
    border-radius: 10px;
    padding-left: 10px;
    margin-top: 1px;
    left: 0px;
    font-size: 20px;
  }
  .container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.2);
    border-radius: 14px;
    padding-bottom: 20px;
    width: 320px;
    
  }
  .display {
    width: 100%;
    height: 60px;
    padding: 40px 0;
    background: #FF0509;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
  }
  .buttons {
    padding: 20px 20px 0 20px;
  }
  .row {
    width: 280px;
    float: left;
  }
  .btn {
    width: 60px;
    height: 60px;
    float: left;
    padding: 0;
    margin: 5px;
    box-sizing: border-box;
    background: #ecedef;
    border: none;
    font-size: 30px;
    line-height: 30px;
    border-radius: 50%;
    font-weight: 700;
    color: #5E5858;
    cursor: pointer;
    
  }
  #tt {
    width: 270px;
    height: 60px;
    float: left;
    padding: 0;
    box-sizing: border-box;
    border: none;
    background: none;
    color: #ffffff;
    text-align: right;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    margin: 0 25px;
    
  }
  .red {
    background: #FF0509 !important;
    color: #ffffff !important;
    
  }
